doctype html
html(ng-app='app', lang='en', strict-di)
  head
    meta(charset='UTF-8')
    title XLCLogger
    base(href='/')
    script(src='http://localhost:3000/socket.io/socket.io.js')
  body(ui-view layout)
