md-virtual-repeat-container
  div(md-virtual-repeat='log in $ctrl.logs' ng-class='[log.message.level, "log"]' md-item-size='31')
    span [
    span.level {{log.message.level}}
    span ]
    div
      .timestamp {{log.timestampText}}
      .scope [ {{log.scopeText}} ]
    .message {{log.text}}
