log-viewer {
  display: flex;
  overflow: scroll;
  
  > * {
    flex: 1;
  }

  .log {
    font-size: 0.7rem;
    display: flex;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    padding: 2px 0px 2px 5px;

    > span {
      line-height: 2;
    }

    &:hover {
      box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    }

    .timestamp {
      color: #777;
      width: 125px;
    }
    .message {
      font-size: 1rem;
    }
    .level {
      display: inline-block;
      width: 42px;
      text-align: center;
      text-transform: uppercase;
    }
    .scope {
      text-align: right;
      white-space: nowrap;
    }
    .scope, .timestamp, .message {
      margin: 0 5px;
    }

    &.debug {
      .level, .message {
        color: #777;
      }
    }

    &.log {

    }

    &.info {
      .level {
        color: #0000FF;
      }
    }

    &.warn {
      background: #FFFBE6;
    }

    &.error {
      background: #FFF0F0;
      .level, .message {
        color: #FF0000;
      }
    }
  }
}
