doctype html
html(ng-app='app', lang='en', strict-di)
  head
    meta(charset='UTF-8')
    title XList
    base(href='/')
  body
    md-toolbar
      .md-toolbar-tools
        span XList
    div(ui-view)
