app-main {
  width: 100%;
  height: 100%;
  display: flex;

  md-sidenav {
    background: #E1F5FE;
    width: 250px;

    .app-name {
      padding: 5px;
    }

    .session-name {
      padding-left: 15px;
    }

    .header {
      padding: 15px 0;
      text-align: center;
    }
  }

  .log-level-name {
    padding-left: 15px;
  }

  .regex-filter {
    padding-left: 15px;
    div {
      margin-top: 5px;
      span {
        width: 80px;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
      }
      input {
        width: calc(100% - 100px);
      }
    }

    .exclude_filters {
      margin-bottom: 10px;
      > div {
        display: flex;
        height: 25px;
        input {
          flex-grow: 1;
          margin-right: 10px;

          &[type='checkbox'] {
            width: 15px;
          }
        }
      }
    }
  }
}

