app-main {
  width: 100%;
  height: 100%;
  display: flex;

  md-sidenav {
    background: #E1F5FE;
    width: 250px;

    .app-name {
      padding: 5px;
    }

    .session-name {
      padding-left: 15px;
    }

    .header {
      padding: 15px 0;
      text-align: center;
    }
  }

  .log-level-name {
    padding-left: 15px;
  }

  .regex-filter {
    padding-left: 15px;
    div {
      margin-top: 5px;
      span {
        width: 80px;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
      }
      input {
        width: calc(100% - 100px);
      }
    }

    .exclude_filters {
      margin-bottom: 10px;
      > div {
        display: flex;
        height: 25px;
        input {
          flex-grow: 1;
          margin-right: 10px;

          &[type='checkbox'] {
            width: 15px;
          }
        }
      }
    }
  }

  .log-viewer {
    overflow: scroll;
    
    .log {
      font-size: 0.7rem;
      display: flex;
      border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
      padding: 2px 0px 2px 5px;

      > span {
        line-height: 2;
      }

      &:hover {
        box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
      }

      .timestamp {
        color: #777;
      }
      .message {
        font-size: 1rem;
      }
      .level {
        display: inline-block;
        width: 42px;
        text-align: center;
        text-transform: uppercase;
      }
      .scope {
        text-align: right;
      }
      .scope, .timestamp, .message {
        margin: 0 5px;
      }
    }
  }
}

.level-debug {
  .level, .message {
    color: #777;
  }
}

.level-log {

}

.level-info {
  .level {
    color: #0000FF;
  }
}

.level-warn {
  background: #FFFBE6;
}

.level-error {
  background: #FFF0F0;
  .level, .message {
    color: #FF0000;
  }
}
