md-sidenav(md-is-locked-open='true' flex="none" layout="column")
  md-list
    .header Application
    md-divider
    md-list-item(flex layout="column" layout-align="center start" ng-repeat='(app_name, app) in $ctrl.filters()')
      .app-name
        label
          input(type='checkbox' ng-model='app.value' ui-indeterminate='app.is_indeterminate()' ng-change='app.update_value()')
          span {{app_name}}
        .session-name(ng-repeat='(session_name, session) in app.sessions')
          label
            input(type='checkbox' ng-model='session.value' ng-change='session.update_value()')
            span {{session_name}}
    md-divider
    .header Log Levels
    md-divider
    .log-level-name(ng-repeat='level in $ctrl.logLevels()')
      label
        input(type='checkbox' ng-model='level.value' ng-change='level.update_value()')
        span {{level.name}}
    md-divider
    .header Filter
    md-divider
    .regex-filter
      div
        span Message:
        input(ng-model='filter_text' ng-change='$ctrl.update_logs()')
      div
        span Scope:
        input(ng-model='scope_filter_text' ng-change='$ctrl.update_logs()')
      .exclude_filters Excludes
        div
          input(ng-model='exclude_filter_text')
          button(ng-click='$ctrl.add_exclude_filter(exclude_filter_text)') Add
        div(ng-repeat='(i, filter) in $ctrl.exclude_filters()')
          input(type='checkbox' ng-model='filter.enabled' ng-change='$ctrl.save(); $ctrl.update_logs()')
          input(ng-model='filter.text')
          button(ng-click='$ctrl.update_exclude_filter(filter, i)') Update

    md-divider
      md-button.md-raised(ng-click='$ctrl.clear_all()') Clear All

log-viewer(flex logs='$ctrl.logs()')
